/* You can add global styles to this file, and also import other style files */
@import "~ol/ol.css";
app-root{
  display:flex;
  height: 100%;
  flex-direction: row;
}
html,body{
  width: 100%;
  height: 100%;
  margin: 0;
}
